@model TestProxy.DomainModel.Movie

@*@model IEnumerable<TestProxy.DomainModel.Movie>*@

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
            <th></th>
        </tr>

        

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Title)
                </td>

                <td>

                    <iframe width="560" height="315" src="@Model.url" frameborder="0" allowfullscreen></iframe>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Price)
                </td>
                

            </tr>

       
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


