@model IEnumerable<TestProxy.DomainModel.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Order Menu</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>



        

        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>

}

</table>
@Html.ActionLink("Continue", "Index", new { @class = "btn btn-success" })

@Html.ActionLink("Cancel", "Index", new { @class = "btn btn-warning" })
